name: Reusable deploy
on: 
  workflow_call:
    inputs:
        artifact-name: 
            description: The name of the deployeble artifact file
            required: true
            default: dist
            type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Get Code
          uses: actions/download-artifact@v4
          with: 
            name: ${{ inputs.artifact-name }}
        - name: List files
          run: ls     
        - name: output information
          run: echo "Deploying & Uploading"
